module gitea.amtlink.cn/{{.ProjectGroup}}/{{.ProjectName}}

go 1.16

require (
	github.com/fsnotify/fsnotify v1.4.7
	github.com/gin-gonic/gin v1.6.3
	github.com/go-sql-driver/mysql v1.5.0
	github.com/jmoiron/sqlx v1.3.1
	github.com/julienschmidt/httprouter v1.2.0
	github.com/nfnt/resize v0.0.0-20180221191011-83c6a9932646
	github.com/pkg/errors v0.8.1
	github.com/rs/zerolog v1.20.0
	github.com/shopspring/decimal v1.2.0
	github.com/sony/sonyflake v1.0.0
	github.com/spf13/pflag v1.0.5
	github.com/spf13/viper v1.7.1
	github.com/zhengchun/objectid v0.0.0-20170315051703-28c0effe5723
	golang.org/x/text v0.3.2
	gopkg.in/fsnotify.v1 v1.4.7
	gitea.amtlink.cn/tokamak/goutil v0.1.6
)
