package service

import (
	"github.com/rs/zerolog/log"
)

// 这里写业务逻辑
// endpoint接收到的请求，只处理rpc细节，实际的逻辑都调用这里的代码

// Ping 可用于健康检查
func Ping() (string, error) {
	log.Info().Msg("handle ping")

	return "pong", nil
}
